/* Stylesheet for the 'EDRN Theme' Plone theme */

/* Links with differently colored link underlines - only for content */
a {
    color: #234956;
}
.documentContent p a {
    text-decoration: none;
    border-bottom: 1px #888 solid;
}
.documentContent p a:visited {
    color: Purple;
    background-color: transparent;
}
.documentContent p a:active {
    color: Red;
    background-color: transparent;
}
#content a:target {
    background-color: #fd7 !important;
}
.documentContent li a {
    text-decoration: none;
    border-bottom: 1px #888 solid;
}
.documentContent li a:visited {
    color: Purple;
}
.documentContent li a:active {
    color: Red;
}
.documentContent dd a {
    text-decoration: none;
    border-bottom: 1px #888 solid;
}
.documentContent dd a:visited {
    color: Purple;
    background-color: transparent;
}
.documentContent dd a:active {
    color: Red;
    background-color: transparent;
}
/* End links */

#nci-bar {
	text-align: center;
}
#nci-bar div {
	background-color: #a90101;
	height: 43px;
	left: 0px;
	margin: 0 0 0 0;
	padding: 0 0 0 32px;
}

h1 {
	font-size: 300%;
	color: rgb(113, 156, 199);
	border-bottom: none;
}
h2 {
    font-weight: bold;
    font-size: 175%;
}
h3 {
    font-size: 150%;
}

#edrn-logo {
	height: 68px;
	width: 974px;
	margin: 0px auto;
	padding: 0 0 0 32px;
}
img#edrnlogo-logo {
	width: 64px;
	margin-top: -20px;
	padding: 3px;
	margin-right: 5px;
	vertical-align: top;
	float: left;
	border: solid 0px #955;
}
#edrn-logo h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 25px;
	padding-bottom: 15px;
	margin-top: 15px;
    line-height: 16px;
    text-align: left;
    width: 974px;
    font-size: 31px;
    font-weight: bold;
	border: none;
	color: black;
}
#edrn-logo h2 {
	padding: 0 0 0 0;
    margin: -45px auto 16px auto;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #222;
	border: none;
}
div#dcplogo {
	width: 974px;
	margin: 0px auto 0 auto;
}
h2.dcplogo {
    border-bottom: 0 none;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    background: transparent url(++resource++edrn.theme.images/l-dcp.gif) no-repeat scroll 0 0;
    float: right;
    height: 23px;
    margin: -65px -12px 16px;
    width: 164px;
}

#visual-portal-wrapper {
	width: 976px;
	padding: 0 auto;
	margin:auto;
}

#portal-globalnav {
	background-color: white;
	font-size: 115%;
	padding-top: 1em;
	text-align: left;
}
#portal-globalnav li {
	margin-bottom:0px;
}
#portal-globalnav li a {
	color: white;
	padding-top: 0.0em;
}
#portal-globalnav li.selected a {
	color: black;
}

#portal-breadcrumbs {
	border-bottom: none;
	margin-bottom: 0.5em;
}

#portal-footer {
	background-color: white;
	border-bottom: none;
}
#portal-footer a,
#portal-footer a:visited {
	color: #777;
}
#portal-footer ul {
	list-style-image: none;
	list-style-type: none;
	margin-bottom: 0;
}
#portal-footer ul li {
	margin-right: 1em;
	display: inline !important;
}

#portal-searchbox {
    position: absolute;
    display:none;
    top: 50px;
    right:0px;
    padding:0 2px 0 0;
}
#portal-searchbox div.LSBox div.searchSection {
    display:none;
}
#portal-searchbox div.LSBox input[type=text] {
    background:#eee;
    color:#666;
    border:solid 1px #888;
    padding:3px;
    width:150px;
}
#portal-searchbox div.LSBox input.searchButton {
    background:auto;
    background-color:#eee;
    border:outset 1px #666;
    padding:3px 3px 3px 18px;
}

#q-collabGroups  a {background: url(++resource++edrn.theme.images/s-collabgroups.gif);}
#q-committees    a {background: url(++resource++edrn.theme.images/s-committees.gif);}
#q-fund          a {background: url(++resource++edrn.theme.images/s-newfund.gif);}
#q-book          a {background: url(++resource++edrn.theme.images/s-newbook.gif);}
#q-cbrg          a {background: url(++resource++edrn.theme.images/s-investigators.gif);}
#q-dcp           a {background: url(++resource++edrn.theme.images/s-newdcp.gif);}
#q-advocates     a {background: url(++resource++edrn.theme.images/s-advocates.gif);}
#q-sites         a {background: url(++resource++edrn.theme.images/s-sites.gif);}
#q-specimens     a {background: url(++resource++edrn.theme.images/s-newcbrg.gif);}
#q-standards     a {background: url(++resource++edrn.theme.images/s-standards.gif);}
#q-newMembers    a {background: url(++resource++edrn.theme.images/s-newMembers.gif);}
#q-members       a {background: url(++resource++edrn.theme.images/s-membersList.gif);}

#portal-column-one .visualPadding {
    padding: 1.2em 0 1em 1em;
}
#portal-column-two .visualPadding {
    padding: 1.4em 0.5em 1em 0;
}
#portal-column-content {
    padding: 1.3em 1em 0;
}
.edrnQuickLinks {
    border-bottom: none;
}
.portletDMCCRSS {
    border-bottom: none;
    font-size: 90%;
}
.portletDMCCRSS .portletHeader {
    display: none;
}
.portletDMCCRSS .portletItem {
    border-right: none;
}
.stupidTitle {
    font-weight: bold;
}
.portletDMCCRSS .even {
    background-color: transparent;
}
.bonusSearchBox {
    display:none;
    position: absolute;
    top: 36px;
    left: 20%;
    width: 450px;
}
.bonusSearchBox label {
    position: relative;
    top: 2px;
    color: white;
}
.bonusSearchBox input {
    font-size: 110%;
}
.lessGarishSearchBox, .elementSearchBox {
    height: 136px;
    width: 435px;
    padding: 10px 0 5px 100px;
    margin-left: 10%;
    margin-right: 10%;
}
.lessGarishSearchBox, .elementSearchBox {
    position:relative;
    margin-top:0em;
    margin-bottom:30px;
    padding:5px;
    background:#f3f3f3;
    text-align:center;
}

.lessGarishSearchBox {
    position:relative;
    float:right;
    right:0px;
    top:0px;	
    width:340px;
    height:95px;
    border:solid 1px #ccc;
    margin:0px;
    border-left:none;
    border-right:none;
}

.lessGarishSearchBox input.searchButton {
    padding:2px;
}

.lessGarishSearchBox h2 {
    display:none;
    color: white;
    text-transform: uppercase;
    border-bottom: none;
    font-size: 90%;
    margin-top: 0.1em;
}

.lessGarishSearchBox label {
    font-size:150%;
    color:#333;
    font-weight:normal;
}
.lessGarishSearchBox input[type=text],
.elementSearchBox input[type=text] {
    width:90%;
    padding:3px;
    margin:5px;
    margin-left:0px;
    font-size:105%;
    color:#2a6;
}
.lessGarishSearchBox input.searchButton,
.elementSearchBox input.searchButton {
    padding:3px 3px 3px 20px;
}
#content {
    position:relative;
}
#content .elementSearchBox {
    position:absolute;
    top:0;
    right:0;
    text-align:right;
    height:auto;
    border:0;
    background-color:transparent;
    margin:0;
    padding:0;
}
#content .elementSearchBox input[type=text] {
    width:50%;
}


#content #splashAndSearch label {
    background-color:transparent;
    font-size:1.1em;
    border-bottom:0px;
    color:#932;
    margin-bottom:0px;
    margin-top:0px;
}
#splashCollage {
    position:relative;
    margin-top:0px;
    margin-bottom:10px;
}

/* Undo edrn-overlay's prettification which breaks PloneFormGen-generated content: */
div#content div#pfg-fieldwrapper label {
	display: inline;
	background-color: transparent;
	color: black;
	padding: 0;
	border-bottom: none;
	margin: 0;
	font-weight: bold;
}
div#content div#pfg-fieldwrapper span {
	padding-left: 0.1em;
	text-align: left;
}
div#content div#pfg-fieldwrapper span.fieldRequired {
	padding-left: 1em;
}

/* Generic boxes of attributes */
.attributebox {
    background: #666666 url(++resource++edrn.theme.images/attribute-gradient.gif) repeat-x top left;
    float: left;
    width: 14em;
    color: white;
    margin: 0.5em 1em 0.5em 1em;
    font-size: 80%;
}
.attributebox h3 {
    text-transform: uppercase;
    color: white;
    font-size: 100%;
    padding-left: 0.5em;
    border-bottom: 2px solid white;
}
.attributebox table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
}
.attributebox td, .attributebox th {
    border-bottom: 1px solid white;
    text-align: left;
    padding: 0.5em;
}
.attributebox-top div {
    background: url(++resource++edrn.theme.images/attribute-top-left.gif) no-repeat top left;
}
.attributebox-top {
    background: transparent url(++resource++edrn.theme.images/attribute-top-right.gif) no-repeat top right;
}
.attributebox-bottom div {
    background: url(++resource++edrn.theme.images/attribute-bottom-left.gif) no-repeat bottom left;
}
.attributebox-bottom {
    background: transparent url(++resource++edrn.theme.images/attribute-bottom-right.gif) no-repeat bottom right;
}
.attributebox-top div, .attributebox-top, .attributebox-bottom div, .attributebox-bottom {
    width: 100%;
    height: 10px;
    font-size: 1px;
}
.attributebox-content {
    margin: 0 10px;
}

div#content .widget-fieldset ul li label {
	display: inline;
	background-color: transparent;
	color: black;
	padding: 0 0 0 0.3em;
	border-bottom: none;
	margin: 0;
	font-weight: normal;
}
div#content .widget-fieldset ul li input {
    margin: 0.2em 0 0 0;
}

